<h1>Messages</h1>
<h3><%= index_date.strftime('%B-%d-%Y') %></h3>

<%= button_to "New Message", new_message_path, method: :get %>
<br>

<%= link_to "<<", root_path(:date => prev_week) %>&nbsp;&nbsp;&nbsp;
<%= link_to "<", root_path(:date => prev_day) %>&nbsp;&nbsp;&nbsp;
<%= link_to "Today", root_path %>&nbsp;&nbsp;&nbsp;
<%= link_to ">", root_path(:date => next_day) %>&nbsp;&nbsp;&nbsp;
<%= link_to ">>", root_path(:date => next_week) %>&nbsp;&nbsp;&nbsp;

<ul>
  <% @messages.reverse_each do |message, i| %>
    <div style="background-color: #fafaff;">
      <p><%= message.body %></p>
      <small><pre>
        <%= message.created_at.in_time_zone(@timezone) %> <%= message.username %>
     </pre></small>
   </div>
  <% end %>
</ul>

<script>
function set_time_zone_offset() {
  var current_time = new Date();
  document.cookie = 'time_zone='+current_time.getTimezoneOffset();
}
set_time_zone_offset();
</script>
