<h1>Messages</h1>

<ul>
  <% @messages.reverse_each do |message, i| %>
    <div style="background-color: #fafaff;">
      <p><%= message.body %></p>
      <small><pre>
        <%= message.created_at.in_time_zone(@timezone) %> <%= message.username %>
     </pre></small>
   </div>
  <% end %>
</ul>

<%= link_to "New Message", new_message_path %>
<br>
<%= link_to "today", root_path %>

<%= link_to "next_week", root_path(:date => next_week) %>
<%= link_to "next_day", root_path(:date => next_day) %>
<%= link_to "prev_day", root_path(:date => prev_day) %>
<%= link_to "prev_week", root_path(:date => prev_week) %>

<script>
function set_time_zone_offset() {
  var current_time = new Date();
  document.cookie = 'time_zone='+current_time.getTimezoneOffset();
}
set_time_zone_offset();
</script>
