<h1>New Message</h1>

<%= form_with model: @message do |form| %>
  <div>
    <%= form.label "I say:" %><br>
    <%= form.text_area :body %>
    <% @message.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
